# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
out/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# keep any empty folders if they have a .keep file
!.keep
